<html>
<body>
Dear <b>$firstName</b>, <br/><br/>

Your password has been reset. <br/>
Your new password is <b>$tempPassword</b><br/>
Please <a href="$customerUrl"> Click here </a> to login.
<br/>
<br/>
Thanks,<br/>
Prepaid Team.

</body>
</html>