<html>
<body>
Dear <b>$custFirstName</b>, <br/><br/>

The credit transaction is successful.

Card/Account Number : <b>$cardOrAccountNumber</b>
<br/>
Transaction reference number : <b>$txnRefNumb</b>
<br/>
Amount : $<b>$txnAmount</b>
<br/>
Date : <b>$dateTime</b>


<br/>
<br/>
Thanks,<br/>
Prepaid Team.

</body>
</html>