<html>
<body>
Hello <b>$firstName</b>, <br/><br/>

We're sorry to inform you that your Ipsidy merchant user account has been declined for the following reason.<br/>
<br/>
Reason : <b>$declineReason</b><br/>

<br/><br/>
Regards,<br/><br/>
Ipsidy Team.

</body>
</html>